<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="CADERH">
	<meta name="copyright" content="caderh.hn"> 
	<title>{{page.title}}</title>
	
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/images/ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/images/ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/images/ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/images/ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/images/ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/ico/favicon-16x16.png">
	<link rel="manifest" href="assets/images/ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/ico/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/materialdesignicons.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/prettyPhoto.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/unslider.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/template.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	
</head>

<body data-target="#nino-navbar" data-spy="scroll">

	<!-- Header
    ================================================== -->
	<header id="nino-header">
		<div id="nino-headerInner">					
			<nav id="nino-navbar" class="navbar navbar-default" role="navigation">
				<div class="container">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nino-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="homepage.html">CADERH</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="nino-menuItem pull-right">
						<div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#nino-header">Inicio <span class="sr-only">(current)</span></a></li>
								<li><a href="#nino-story">¿Quiénes somos?</a></li>
								<li><a href="#nino-contactUs">Contáctenos</a></li>
								<li><a href="#nino-services">Oferta de formación</a></li>
								<li><a href="#nino-ourTeam">Noticias</a></li>
								<li><a href="#nino-portfolio">Acciones productivas</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</div><!-- /.container-fluid -->
			</nav>

			<section id="nino-slider" class="carousel slide container" data-ride="carousel">
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<h2 class="nino-sectionHeading">
							Bienvenido <br>a CADERH
						</h2>
						<a href="#" class="nino-btn">Learn more</a>
					</div>
					<div class="item">
						<h2 class="nino-sectionHeading">
							<img src="assets/images/story/img-1.jpg" alt="">
						</h2>
						<a href="#" class="nino-btn">Learn more</a>
					</div>
					<div class="item">
						<h2 class="nino-sectionHeading">
							Bienvenido <br>a CADERH
						</h2>
						<a href="#" class="nino-btn">Learn more</a>
					</div>
				</div>

				<!-- Indicators -->
				<ol class="carousel-indicators clearfix">
					<li data-target="#nino-slider" data-slide-to="0" class="active">
						<div class="inner">
							<span class="number">01</span> Inicio	
						</div>
					</li>
					<li data-target="#nino-slider" data-slide-to="1">
						<div class="inner">
							<span class="number">02</span> Trabajo
						</div>
					</li>
					<li data-target="#nino-slider" data-slide-to="2">
						<div class="inner">
							<span class="number">03</span> Acerca de nosotros
						</div>
					</li>
					<li data-target="#nino-slider" data-slide-to="3">
						<div class="inner">
							<span class="number">04</span> Servicios
						</div>
					</li>
				</ol>
			</section>
		</div>
	</header><!--/#header-->

	{{ content }}
	
    <!-- Footer
    ================================================== -->
    <footer id="footer">
        <div class="container">
        	<row> 
        		<div class="nino-copyright">Copyright &copy; 2017 <a target="_blank" href="https://www.caderh.hn/" title="CADERH">CADERH</a>. Todos los derechos reservados.</div>
        	</row>
        </div>
    </footer><!--/#footer-->

    <!-- Search Form - Display when click magnify icon in menu
    ================================================== -->
    <form action="" id="nino-searchForm">
    	<input type="text" placeholder="Search..." class="form-control nino-searchInput">
    	<i class="mdi mdi-close nino-close"></i>
    </form><!--/#nino-searchForm-->
	
    <!-- Scroll to top
    ================================================== -->
	<a href="#" id="nino-scrollToTop">Go to Top</a>
	
	<!-- javascript -->
	<script type="text/javascript" src="assets/js/jquery.min.js"></script>	
	<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.hoverdir.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.97074.js"></script>
	<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="assets/js/unslider-min.js"></script>
	<script type="text/javascript" src="assets/js/template.js"></script>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
	    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
		
</body>
</html>